@charset "UTF-8";

/*共通部分
--------------------------------------*/
html{
  font-size: 100%;
}
body{
  font-family: "Segoe UI",SegoeUI,"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
  background-color: #F5F5F5;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4px;
}
main{
  margin: 0;
  padding: 0;
}

/*header
-----------------------------------*/
.main-nav{
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 20px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
  font-size: 14px;
}

.main-nav a {
  color: #432;
}

.page-header {
  display: flex;
  justify-content: flex-end;
}

/*select box*/
.select-wrap{
  width: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.select-wrap::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-bottom: solid 2px #b4b3b3;
  border-right: solid 2px #b4b3b3;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 50px;
  margin-top: -4px;
}
.wide-width {
  width:50%;
}
#works select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 0 40px 0 0;
  outline:none;
  border: none;
  font-size: 14px;
  color: #432;
  cursor: pointer;
}
select::-ms-expand {
    display: none;
}


/*main
---------------------------------*/
.home-content {
  text-align: center;
  margin-top: 30px; 
}

/*top */
.page-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 10px;
}

/*works*/
.works-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  border-top: 1px solid #707070;
}
.works-container div{
  width: 20%;
  text-align: left;
}
.works-container p{
  font-size: 0.75rem;
}
.works-container a{
  color:#432;
}
.works-container img{
  height:150px;
  display: block;
  margin: 0 auto;
}
/*work-content
-----------------------------*/
.works-content {
  text-align: center;
}
.works-content h2 {
  font-size: 3rem;
}
.url p{
  margin: 8px;
}
.PC-main{
  display: flex;
}
.PC-main-image {
  background-color: RGB(112,112,112,80%);
  max-height:500px;
  width:50%;
}
.PC-main-image img{
  max-width:90%;
  max-height:400px;
  margin: 30px auto;
}
.sub-image {
  width:50%;
  display: flex;
}
.sub-image ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.sub-image li {
  width:45%;
  height:200px;
  margin-left: 10px;
}
.aside {
  height:150px;
}
.side {
  height:200px;
}
.contents {
  width:70%;
  text-align: left;
  margin: 0 auto;
}
.contents h3 {
  border-bottom: 1px solid #707070;
}
